@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap'); 
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  
  @import url(../../public/assets/fonts/fontello.css);

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --theme-color: #4CAF4F;
  font-family: 'Inter', sans-serif;
  text-rendering: optimizeLegibility;
}


@layer base {
  body {
    @apply text-text-gray font-normal;
  }
  p:last-child {
    margin-bottom: 0;
  }
  h1,
  .h1 {
    @apply text-h1 mb-4 text-gray-dark;
  }

  .h1 span,
  h1 span,
  .h2 span,
  h2 span,
  .h3 span,
  h3 span {
    color: var(--theme-color);
  }

  h2,
  .h2 {
    @apply text-h2 text-gray-dark;
  }

  h3,
  .h3 {
    @apply text-h3 text-gray-dark;
  }

  h4,
  .h4 {
    @apply text-h4 text-gray-dark;
  }

  h5,
  .h5 {
    @apply text-h5 text-gray-dark;
  }

  h6,
  .h6 {
    @apply text-h6 text-gray-dark;
  }

  .preamble {
    @apply text-ingress;
  }

  .button {
    @apply inline-flex bg-primary text-white p-4 hover:bg-black;
  }

  .nav a {
    @apply hover:underline;
  }

  p {
    @apply mb-6
  }

  .col {
    @apply flex flex-col gap-4 min-w-[150px];
  }

  .col a {
    @apply hover:underline;
  }

  .col ul {
    @apply gap-4 flex flex-col;
  }

  .social-icons i {
    @apply flex justify-center items-center;
  }

  .btn {
    @apply text-white rounded-md px-8 py-3.5 leading-[1.42] inline-block text-nav hover:bg-secondary;
  }

  .btn-primary {
    @apply bg-primary;
  }
  .btn-tertiary {
    @apply bg-tertiary;
  }
}

@layer components {
  .card {
    background-color: theme('colors.white');
    box-shadow: theme('boxShadow.card');
  }

}

main {
  flex: 1;
}


@media (max-width: 1023.96px) {
  div:nth-child(3) .substance-card {
    border-top-width: 0 !important;
  }
}

.swiper-hero {
  /* --swiper-pagination-right: auto;
  --swiper-pagination-left: 50%;
  --swiper-pagination-bullet-width: auto;
  --swiper-pagination-bullet-heigth: auto; */
  --swiper-pagination-bullet-size: 10px;
  --swiper-pagination-bullet-inactive-color: var(--theme-color);
  --swiper-pagination-bullet-active-color: var(--theme-color);
  --swiper-pagination-color: var(--theme-color);
  --swiper-theme-color: var(--theme-color);
}

#menu {
  visibility: hidden;
  position: absolute;
}

#menu:checked ~ .hidden {
  display: flex;
}

#menuToggle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 20px;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

input:checked ~ #menuToggle  span {
  opacity: 1;
  transform: rotate(45deg) translate(-3px, -4px);
}

input:checked ~ #menuToggle span:nth-child(2) {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 
input:checked ~ #menuToggle span:last-child {
   transform: rotate(-45deg) translate(0, -3px);
 }

.achievement:first-child .icon {
  font-size: 30px;
}

.cards:nth-child(2) .px-7 {
  padding-left: 2rem;
  padding-right: 2rem;
}
.marketing-cards:first-child .p-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}